<div class="container header-container">
	<div class="row">
		<div class="col-12 col-md-7 header-left">
			<h1>{{ site.name }}</h1>
			<h2>{{ site.title }}</h2>
			<h3><mark>{{ site.location }}</mark></h3>
		</div>
		<div class="col-12 col-md-5 header-right">
			<ul class="icons">
				<li>
					<a href='https://github.com/{{ site.github }}' class="button button-circle">
						<i class="fab fa-github" title="GitHub"></i>
					</a>
				</li>
				<li>
					<a href='https://linkedin.com/in/{{ site.linkedin }}' class="button button-circle">
						<i class="fab fa-linkedin" title="LinkedIn"></i>
					</a>
				</li>
				<li>
					<a href='{{ site.resume }}' class="button button-circle">
						<i class="fas fa-align-left" title="Résumé"></i>
					</a>
				</li>
			</ul>
			<p>{{ site.phone }}</p>
			<p><a href="mailto:{{ site.email }}">{{ site.email }}</a></p>
		</div>
	</div>
</div>
