<div class="container header-container">
	<div class="row">
		<div class="col-12 col-md-7 header-left">
			<h1>{{ site.name }}</h1>
			<h3>{{ site.title }}</h3>
			<h4><mark>{{ site.location }}</mark></h4>
		</div>
		<div class="col-12 col-md-5 header-right">
			<ul class="icons no-print">
				<li>
					<a href='https://github.com/{{ site.github }}' class="button button-circle">
						<i class="fab fa-github" title="GitHub"></i>
					</a>
				</li>
				<li>
					<a href='https://linkedin.com/in/{{ site.linkedin }}' class="button button-circle">
						<i class="fab fa-linkedin" title="LinkedIn"></i>
					</a>
				</li>
				<li>
					<a href='{{ site.resume }}' class="button button-circle">
						<i class="fas fa-align-left" title="Résumé"></i>
					</a>
				</li>
			</ul>
			<p>
				<a href="mailto:{{ site.email }}">{{ site.email }}</a> | <i class="fas fa-envelope-open"></i>
			</p>
			<p>
				{{ site.phone }} | <i class="fas fa-phone-alt"></i>
			</p>
		</div>
	</div>
</div>
