<div class="col-12 col-md-9 col-print-12">
    {%- for item in include.content -%}
      <div class="layout-list">
        <div class="title">
            {%- if item.title -%}
			<h5>{{ item.title }}</h5>
			{%- endif -%}
			  {%- if item.caption -%}
				<div class="caption">{{ item.caption }}</div>
          {%- endif -%}
          {%- if item.subtitle -%}
			<div class="subtitle">{{ item.subtitle }}</div>{%- endif -%}
        </div>
          {{ item.description | strip | markdownify }}
      </div>
    {%- endfor -%}
</div>
