<div class="col-12 col-md-9 col-print-12">
    {%- for item in include.content -%}
      <div class="layout layout-{{item.layout | default: 'left'}}">
        <div class="details">
            {%- if item.title -%}<h4 style="display: inline-block">{{ item.title }}</h4>{%- endif -%}
          {%- if item.caption -%}
            <p class="caption" style="display: inline-block">{{ item.caption }}</p>
          {%- endif -%}
          {%- if item.sub_title -%}<p>{{ item.sub_title }}</p>{%- endif -%}
        </div>
        <div class="content">
          {{ item.description | strip | markdownify }}
        </div>
      </div>
    {%- endfor -%}
</div>
