button, input[type="button"], input[type="reset"], input[type="submit"] {
  appearance: none;
  background-color: #477dca;
  border: 0;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1rem;
  -webkit-font-smoothing: antialiased;
  font-weight: 600;
  line-height: 1;
  padding: 0.75rem 1.5rem;
  text-decoration: none;
  transition: background-color 150ms ease;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap; }
  button:hover,
  button:focus, input[type="button"]:hover,
  input[type="button"]:focus, input[type="reset"]:hover,
  input[type="reset"]:focus, input[type="submit"]:hover,
  input[type="submit"]:focus {
    background-color: #3964a2;
    color: #fff; }
  button:disabled, input[type="button"]:disabled, input[type="reset"]:disabled, input[type="submit"]:disabled {
    cursor: not-allowed;
    opacity: 0.5; }
    button:disabled:hover, input[type="button"]:disabled:hover, input[type="reset"]:disabled:hover, input[type="submit"]:disabled:hover {
      background-color: #477dca; }

.button-circle::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  z-index: -1;
  box-shadow: inset 0 0 0 35px #333;
  -webkit-transform: scale3d(0.9, 0.9, 1);
  transform: scale3d(0.9, 0.9, 1);
  -webkit-transition: box-shadow 0.3s, -webkit-transform 0.3;
  transition: box-shadow 0.3s, transform 0.3s;
}

.button {
  min-width: 150px;
  border: none;
  background: none;
  color: inherit;
  vertical-align: middle;
  position: relative;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  border-radius: 0;
  float: none;
  margin: 0 auto;
  margin-top: 0px;
  display: inline-block;
  font-weight: 400;
  max-width: 400px;
}

.button.button-circle {
  width: 60px;
  height: 60px;
  min-width: 0;
  padding: 0;
  color: #fff;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.button-circle:hover {
  color: #333;
}

.button-circle:hover::before {
  box-shadow: inset 0 0 0 2px #333;
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
}

.dark {
  .button-circle::before {
    box-shadow: inset 0 0 0 35px #e6e6e6;
  }

  .button.button-circle {
    color: #222;
  }

  .button-circle:hover {
    color: #e6e6e6;
  }

  .button-circle:hover::before {
    box-shadow: inset 0 0 0 2px #e6e6e6;
  }
}
