.light {
}
.dark {
	.circle::before {
		box-shadow: inset 0 0 0 35px #EAEAEA;
	}
	.circle {
		color: #1B1B1B;
	}
	.circle:hover {
		color: #EAEAEA;
	}
	.circle:hover::before {
		box-shadow: inset 0 0 0 2px #EAEAEA;
	}
	.icons i {
		background: none;
		color: #222;
	}
	.icons a:hover i {
		color: #EAEAEA;
	}
}

.icons {
	margin: 0.25rem 0rem;
	i {
		color: #FFFFFF;
		background: none;
		font-size: 2rem;
		line-height: 4rem;
	}
}

.circle {
	width: 4rem;
	height: 4rem;
	min-width: 0;
	padding: 0;
	transition: color 0.3s;

	display: inline-block;
	border: none;
	border-radius: 0;
	position: relative;
	text-align: center;
	vertical-align: middle;
	z-index: 1;
}

.circle::before {
	color: #1B1B1B; 
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 100%;
	z-index: -1;

	box-shadow: inset 0 0 0 32px #1B1B1B;
	transform: scale3d(0.95, 0.95, 1);
	transition: box-shadow 250ms, transform 250ms;
}

.circle:active {
	color: #1B1B1B;
}


.circle:focus,
.circle:hover {
	i {
		color: #1B1B1B;
	}
}

.circle:hover::before {
	box-shadow: inset 0 0 0 4px #1B1B1B;
	transform: scale3d(1, 1, 1);
}
