.light {
	color: #1B1B1B;
	background-color: #FFFFFF;
	mark {
		color: #FFFFFF;
		background-color: #1B1B1B;
		padding: 2px 4px;
		border-radius: 4px;
	}
	a {
		color: #FF6666;
		text-decoration: none;
		transition: color 100ms ease;
	}
	a:active,
	a:focus,
	a:hover {
		color: #1B1B1B;
	}
}

.dark {
	color: #EAEAEA;
	background-color: #1B1B1B;
	mark {
		color: #1B1B1B;
		background-color: #EAEAEA;
		padding: 2px 4px;
		border-radius: 4px;
	}
	a {
		color: #FF6666;
		text-decoration: none;
		transition: color 100ms ease;
	}
	a:active,
	a:focus,
	a:hover {
		color: #EAEAEA;
	}
}

.container {
	max-width: 960px;
	margin-bottom: 1.5rem;
}

.header-container {
	margin-top: 2rem;
	margin-bottom: 1.5rem;
}


.header-left {
	@media print {
		margin-top: 0px;
	}
}

.header-right p {
	text-align: right;
	line-height: 1.2;
	font-size: 1.2rem;
	margin: 0rem 0.4rem;
}

.section-text{
}
.section-list {
	margin-bottom: 1.0rem;
	display: flex;
	flex-direction: column;

	.heading {
		margin-bottom: 0.2rem;

		.title {
			display: inline;

			a {
				font-weight: 500;
			}
		}

		.sub-title {
			font-size: 1.0rem;
			text-align: inherit;
			font-weight: 300;

			b {
				font-weight: 500;
			}
		}

		.caption {
			display: inline;
			color: inherit;
			font-style: italic;
			font-weight: 300;
			font-size: 1.0rem;
			margin-left: 0.5rem;
		}

	}
	.description {
		text-align: justify;
	}
}


.footer-container {
	margin-top: 4rem;
	margin-bottom: 1rem;

	a {
		color: inherit;
		font-style: italic;
		font-weight: 300;
	}

	p {
		text-align: center;
		font-style: italic;
		font-weight: 300;
	}
}
