
.center-text {
	text-align: center;
}

.container {
	margin-bottom: 1.5rem;
	@media print {
		margin-top: 20px;
	}
}

.header-container {
	margin-top: 2rem;
}

.header-right {
	text-align: right;
}

.header-left {
	@media print {
		margin-top: 0px;
	}
}

.header-right p {
	font-size: 1.0rem;
	text-align: right;
}


.dark {
	background-color: #222;
	color: #e6e6e6;
	mark {
		color: #222;
		background-color: #e6e6e6;
	}

	a {
		color: #477dca;
	}
}

.header-right p {
  margin-bottom: 3px;
}

.header-right a{
  color:inherit;
  font-weight:500;
}

@media screen and (max-width: 767px) {
  .header-container div{
    text-align: center;
  }

  .header-right p {
    text-align: center;
  }

  .header-left {
    margin-top: 0px;
  }
}

.list-container, .text-container {
  h3 {
    margin-bottom: 0;
  }
}

.layout-text{
}
.layout-list {
  margin-bottom: 1.0rem;
  display: flex;
  flex-direction: column;

  .details {
    text-align: left;

    p {
      margin-bottom: 3px;
      font-size: 1.0rem;
      text-align: inherit;
      font-weight: 300;

      b {
        font-weight: 500;
      }
    }

    @media screen and (max-width: 767px) {
      text-align: left!important;

      p {
        text-align: left!important;
      }
    }

    a {
      color: inherit;
      font-style: italic;
      font-weight: 300;
    }

    .fa {
      font-size: 2rem;
    }

    .link {
      font-size: 1.5rem;
    }

    h5 {
      margin-bottom: 0.1rem;

      @media print {
        margin-bottom: 0.2rem;
      }

      a {
        font-weight: 500;
      }
    }
  }
}

.layout-list {
  @media screen and (max-width: 767px) {
    flex-direction: column;
  }
}

.footer-container {
	margin-top: 4rem;
	margin-bottom: 1rem;

	a {
		color: inherit;
		font-style: italic;
		font-weight: 300;
	}

	p {
		text-align: center;
		font-style: italic;
		font-weight: 300;
	}
}

p.caption {
	font-size: 1.0rem;
	font-style: italic;
	margin-left: 0.5rem;
}

.container-xxl, .container-xl, .container-lg, .container-md, .container-sm, .container {
	max-width: 960px;
}
