.light {
	color: #1B1B1B;
	background-color: #FFFFFF;
	mark {
		color: #FFFFFF;
		background-color: #1B1B1B;
		padding: 2px 4px;
		border-radius: 4px;
	}
	a {
		color: #FF6666;
		text-decoration: none;
		transition: color 200ms ease;
	}
	a:active,
	a:focus,
	a:hover {
		color: #1B1B1B;
	}
}

.dark {
	color: #EAEAEA;
	background-color: #1B1B1B;
	mark {
		color: #1B1B1B;
		background-color: #EAEAEA;
		padding: 2px 4px;
		border-radius: 4px;
	}
	a {
		color: #FF6666;
		text-decoration: none;
		transition: color 200ms ease;
	}
	a:active,
	a:focus,
	a:hover {
		color: #EAEAEA;
	}
}

.container {
	max-width: 960px;
	margin-bottom: 1.5rem;
}

.header-container {
	margin-top: 2rem;
}

.header-left {
	text-align: left;
}

.header-right {
	text-align: right;
	.info {
		font-size: 1.2rem;
		line-height: 1.2;
		margin: 0rem 0.35rem;
	}
}

.footer-container {
	text-align: center;
	font-style: italic;
	font-weight: 300;
	margin-top: 4rem;
	margin-bottom: 1rem;
}

.item {
	margin-bottom: 1.0rem;
	.heading {
		margin-bottom: 0.2rem;
		.title {
			display: inline;
		}
		.caption {
			display: inline;
			font-style: italic;
			font-weight: 300;
			margin-left: 0.5rem;
		}
		.sub-title {
			font-weight: 300;
		}
	}
	.description {
		text-align: justify;
	}
}
