.header-right p {
  margin-bottom: 3px;
}

.header-right a{
  color:inherit;
  font-weight:500;
}

@media screen and (max-width: 768px) {
  .header-container div{
    text-align: center;
  }

  .header-right p {
    text-align: center;
  }

  .header-left {
    margin-top: 0px;
  }
}

.into-text-1 {
  margin-top: 30px;
}

@media only screen and (max-width : 992px) {
  .into-text-1 {
    margin-top: 20px;
  }
}

.list-container, .text-container {
  h3 {
    margin-bottom: 0;
  }
}

.layout {
  margin-bottom: 1.2rem;
  display: flex;
  flex-direction: column;

  .details {
    text-align: left;

    p {
      margin-bottom: 3px;
      font-size: 1.0rem;
      text-align: inherit;
      font-weight: 300;

      b {
        font-weight: 500;
      }
    }

    @media screen and (max-width: 768px) {
      text-align: left!important;

      p {
        text-align: left!important;
      }
    }

    a {
      color: inherit;
      font-style: italic;
      font-weight: 300;
    }

    .fa {
      font-size: 2rem;
    }

    .link {
      font-size: 1.5rem;
    }

    h4 {
      margin-bottom: 0.1rem;
      font-weight: 500;

      @media print {
        margin-bottom: 0.2rem;
      }

      a {
        font-weight: 500;
      }
    }
  }
}

.layout-right {
  flex-direction: row-reverse;
}

.layout-right, .layout-top-right {
  .details {
    text-align: right;
  }
}

.layout-left, .layout-right {
  @media screen and (max-width: 768px) {
    flex-direction: column;
  }
}

.layout-top-middle, .layout-top, .layout-top-right {
  flex-direction: column;

  .details, .content {
    width: 100%;
  }
}

.layout-top-middle {
  .details {
    text-align: center;
  }
}

.footer-container {
	margin-top: 4rem;
	margin-bottom: 1rem;

	a {
		color: inherit;
		font-style: italic;
		font-weight: 300;
	}

	p {
		text-align: center;
		font-style: italic;
		font-weight: 300;
	}
}

.contact a {
	line-height: 50px;
	margin-left: 30px;
	color: #BBBBBB;
	-webkit-transition: color 0.4s ease;
	-moz-transition: color 0.4s ease;
	transition: color 0.4s ease;
}

.contact a:hover {
	color: #4C4C4C;
}

p.quote {
	font-size: 1.0rem;
	font-style: italic;
	margin-left: 0.5rem;
}

.container-xxl, .container-xl, .container-lg, .container-md, .container-sm, .container {
	max-width: 1140px;
}
