body {
  color: #333;
  font-family: Roboto, sans-serif;
  font-feature-settings: "kern", "liga", "pnum";
  font-size: 1rem;
  line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Roboto, sans-serif;
  font-size: 1rem;
  line-height: 1.0;
}

p {
  margin: 0 0 0.5rem; }

a {
  color: #477dca;
  transition: color 150ms ease;
}
a:active,
a:focus,
a:hover {
color: #355e98;
}

h1 {
  font-weight: 500;
  font-size: 3.6rem;
  margin-bottom: 0;
}

h2 {
  font-weight: 300;
  font-size: 2.2rem;
}

h3 {
  font-weight: 300;
  font-size: 2.0rem;
}


h4 {
  font-weight: 300;
  font-size: 1.8rem;
}

h5 {
  font-weight: 400;
  font-size: 1.6rem;
}

p, ul {
  font-size: 1.0rem;
  text-align: justify;
}

a i {
  font-size:1.6rem;
}

mark {
  padding: 2px 4px;
  font-size: 90%;
  color: #fff;
  background-color: #333;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,.25);
  box-shadow: inset 0 -1px 0 rgba(0,0,0,.25);
}
