<!DOCTYPE html>
<html lang="en-US">
	{%- include head.html -%}
	<body>
	<script src="/assets/index.js"></script>
	{%- if site.color-scheme == 'auto' -%}
	<script>autoColorScheme()</script>
	{%- else -%}
	<script>setColorScheme("{{ site.color-scheme }}")</script>
	{%- endif -%}
		{%- include header.html -%}
		<main>
			{%- for each in site.content -%}
			<div class="container">
				<div class="row">
					{%- include section.html section-title=each.section-title -%}
					{%- include section-{{ each.layout }}.html content=each.content -%}
				</div>
			</div>
			{%- endfor -%}
		</main>
		{%- include footer.html -%}
	</body>
</html>
